<!DOCTYPE html>
<html lang="en" ng-app="wkndcov">
<head>
  <meta charset="utf-8">
  <title>Weekend Notes</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/datepicker.css">
  <link rel="stylesheet" href="css/app.css">
  
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.0.2/js/bootstrap-datepicker.min.js"></script>
  
  <script src="lib/angular/angular_1.1.4_unstable.js"></script>
  <script src="js/app.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/controllers.js"></script>
 	
  <!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.1/angular-strap.min.js"></script>
  <script src="http://mgcrea.github.io/angular-strap/vendor/bootstrap-datepicker.js"></script>
  <link rel="stylesheet" href="http://mgcrea.github.io/angular-strap/vendor/bootstrap-datepicker.css">-->
</head>
<body>
<div ng-controller="coverageCtrl" class="container">
<div class="row">
  <div class="span5">
    <div ng-show="alertTxt" id="alert"><div>{{alertTxt}}</div></div>
    <h2>Date</h2>
    <div class="control-group input-append">
      <input id="datePicker" type="text" b-datepicker="{{dateOptions}}" ng-model="datepicker.date">
      <button type="button" class="btn" ng-click="datepicker.toggle()"><i class="icon-calendar"></i></button>
      <button class="btn btn-primary" ng-show="datepicker.date" ng-click="getOnToday()">Get Note Writers</button>
    </div>
    <br>
    <span class="muted">Choose date of morning notes will be distributed</span>
  </div>
</div>
<div class="row">
  <div class="span7">
    <h2>Census</h2>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>A</th>
          <th>B</th>
          <th>C</th>
          <th>Y</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Total: </td>
          <td>
            <input class="input-mini" type="text" ng-model="census.A">
          </td>
          <td>
            <input class="input-mini" type="text" ng-model="census.B">
          </td>
          <td>
            <input class="input-mini" type="text" ng-model="census.C">
          </td>
          <td>
            <input class="input-mini" type="text" ng-model="census.Y">
          </td>
        </tr>
        <tr>
          <td>Sub-I(s): </td>
          <td>
            <input class="input-mini" ng-show="hasSubI('A')" type="text" ng-model="census.sub.A">
          </td>
          <td>
            <input class="input-mini" ng-show="hasSubI('B')" type="text" ng-model="census.sub.B">
          </td>
          <td>
            <input class="input-mini" ng-show="hasSubI('C')" type="text" ng-model="census.sub.C">
          </td>
          <td>
            <input class="input-mini" ng-show="hasSubI('Y')" type="text" ng-model="census.sub.Y">
          </td>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="span8">
    <h2>Notes</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Intern</th>
          <th>Status</th>
          <th>Writing Notes For</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="intern in onToday">
          <td><strong>{{intern.name}}</strong> <span class="muted">- {{intern.team}}</span></td>
          <td>{{intern.status}}</td>
          <td>
            <select ng-disabled="intern.role==='Sub-I'||intern.team.indexOf('NF Intern')>-1" ng-model="intern.writingFor" ng-options="team for team in noteTeams"></select>
          </td>
          <td>{{intern.primaryNotes}} notes for {{intern.writingFor}}<span ng-show="intern.secondaryNotes > 0"> + {{intern.secondaryNotes}} notes for {{lonelyTeam}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40292842-2', 'herokuapp.com');
  ga('send', 'pageview');

</script>
</body>
</html>
